#container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to bottom, #0000ff, #ff0000);  // Gradiente invertido para variação
    color: white;
    min-height: 100vh;
  }
  
  ion-card {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  ion-button {
    margin: 10px;
  }