#container {
  text-align: center;
  padding: 20px;
  min-height: 100vh;
}

ion-card {
  margin: 10px;
  border-radius: 10px;
}

ion-button {
  margin: 10px;
}

ion-searchbar {
  margin-bottom: 20px;
}